#brands {
    margin: 80px 0px;
    .container {
      width: 1490px;
      margin: 0px auto;
      .row {
        display: flex;
        flex-wrap: wrap;
      }
      .brands-text {
        display: flex;
        text-align: center;
        p {
          font-size: $FontSize;
          display: inline;
          color: $FontColor;
        }
        span {
          font-size: $FontSize;
        }
      }
      .brands-img {
        display: flex;
        align-items: center;
        margin: 15px 80px;
  
        .ad {
          height: 85px;
          padding: 0px 25px;
        }
        .dezeen {
          height: 95px;
          padding: 0px 25px;
        }
        .marie-clarie {
          height: 98px;
          padding: 0px 25px;
        }
        .elle {
          height: 60px;
          padding: 0px 25px;
        }
        .cosmopolitan {
          height: 33px;
          padding: 0px 25px;
        }
        .aw {
          height: 91px;
          padding: 0px 25px;
        }
      }
    }
  }
  