// Button 
@mixin site-btn{
    padding: 15px 60px;
    background-color: black;
    color: white;
    border: 1px solid white;
}
@mixin site-btn-hover{
    background-color: rgb(230,228,222);
    border: 1px solid rgb(0, 0, 0);
    color: black;
}
